.about {
    min-height: 650px;
    padding-top: 80px;
}
.about-title {
    font-size: 35px;
    text-align: center;
}

.about-descr {
    text-align: center;
    font-size: 22px;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 35px;
}
.about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 500px));
    grid-template-rows: minmax(400px, 540px);
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.about__wrapper[data-status='house']{
    grid-template-columns: 0.8fr;

}

.about__img {
    transition: 1s all;
    width: 100%;
    height: 100%;
    img {
        object-fit: fill;
        width: 100%;
        height: 95%;
    }
}
.about__img[data-status='house'] {
    display: none;
}


