.app-filter {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 40px;
    label {
        margin-right: 20px;
    }
    input {
        width: 180px;
        height: 30px;
        text-align: center;
        border: 1px solid white;
        border-radius: 3px;
        -webkit-box-shadow: 2px 0px 20px 4px rgba(0,0,0,0.20); 
        box-shadow: 2px 0px 20px 4px rgba(0,0,0,0.20);
    }
}
.app-filter__btn {
    width: 75px;
    height: 30px;
    margin-right: 8px;
    border: 1px solid white;
    background: white;
    -webkit-box-shadow: 2px 0px 20px 4px rgba(0,0,0,0.12); 
    box-shadow: 2px 0px 20px 4px rgba(0,0,0,0.12);
    cursor: pointer;
}
.app-filter__btn:last-child {
    margin: 0;
}