.our {
    background: white;
    min-height: 480px;
    padding-top: 50px;
    padding-bottom: 40px;
    &[data-status='house'] {
        background: url('../../../public/images/our/our-bg.jpg') no-repeat 100% 100%;
        background-size: cover;
    }
}