@media (max-width: 1439px) {
    .container {
        max-width: 1140px;
    }
    
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .hero-block {
        &-title {
            width: 100%;
            font-size: 40px;
        }
        &-subtitle {
            font-size: 30px;
        }
    }

    .about {
        &-descr {
            font-size: 19px;
            line-height: 29px;
        }
    }

}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        background: url('../public/images/promo/promo-bg-house.jpg') no-repeat top right 31%;
        background-size: cover;

    }
    .about {
        &-descr {
            width: 100%;
        }
    }
    .product-cards {
        grid-template-columns: repeat(2, minmax(220px, 310px));
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        &-nav {
            ul {
                justify-content: space-between;
            }
            &__item {
                margin-right: 0;
            }
        }
    }
    .hero-block {
        &-title {
            font-size: 30px;
        }
        &-subtitle {
            width: 100%;
            font-size: 24px;
        }
    }
    .about {
        &-descr {
            font-size: 17px;
            line-height: 30px;
        }
    }
    .divider {
        img {
            width: 30px;
        }
    }
     .product-cards {
        justify-content: center;
        grid-template-columns: minmax(250px, 320px);
    }
    .about__wrapper {
        grid-template-rows: minmax(394px, 445px);
    }
    .about__wrapper[data-status='coffee']{
    grid-template-columns: 0.8fr;
        
    }
    .about__wrapper[data-status='pleasure']{
        grid-template-columns: 0.8fr;
    }
}
@media (max-width: 576px) {
    .promo {
        height: 105%;
        padding: 40px 0;
        background: url('../public/images/promo/promo-bg-house.jpg') no-repeat 71%;
        background-size: cover;
    }
    .container {
        width: 95%;
    }
    .header {
        &-nav {
            ul {
                padding: 0;
                flex-direction: column;
                align-items: center;
            }
            &__item {
                margin-bottom: 15px;
                &:last-child {
                    content: '';
                    margin-bottom: 0;
                }
            }
        }
    }
    .hero-block {
        margin-top: 45px;
    }
    .about {
        padding: 80px 0 40px 0;
    }
    .product-cards {
        grid-template-columns: minmax(230px, 270px);
    }
    .about {
        &__wrapper[data-status='house'] {
            display: block;
        }
    }
}